.board-view {
  border: 1px gray solid;
  border-radius: 16px;
  display: flex;
  flex-basis: calc(75vmin - 60px);
  flex-flow: row wrap;
  height: calc(75vmin - 60px);
  padding: 8px;
  width: calc(75vmin - 60px);
}
