.app-game-view {
  flex: 1 0 auto;
}

.app-game-view-create-new-game,
.app-game-view-human-player-status,
.app-game-view-winner,
.app-game-view-error {
  font-size: 2rem;
  line-height: 3rem;
  max-width: 70vw;
}

.app-game-view-human-player-status,
.app-game-view-create-new-game {
  color: darkgrey;
}

.app-game-view-winner {
  color: darkseagreen;
}

.app-game-view-error {
  color: darkred;
}
